<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ========================================== -->
    <!-- TODO: Enter your subscription information. -->
    <add key="ida:ClientId" value="YOUR_CLIENT_ID" />
    <add key="TenantId" value="YOUR_TENANT_ID" />
    <!-- ========================================== -->
    <add key="SubscriptionId" value="YOUR_SUBSCRIPTION_ID"/>
    <add key="ArmResourceId" value="https://management.core.windows.net/" />
    <add key="Authority" value="https://login.windows.net/{0}"/>
    <add key="RedirectUri" value="https://dtlclient"/>

    <add key="SubscriptionId" value="{YOUR_SUBSCRIPTION_ID}" />
    <add key="LabResourceGroupName" value="{YOUR_LAB_RG_NAME}"/>
    <add key="LabName" value="{YOUR_LAB_NAME}"/>
    <add key="VirtualMachineName" value="{YOUR_MACHINE_NAME}"/>
    <add key="LabLocation" value="{YOUR_LOCATION}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
