################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/bin/Debug/
**/obj/Debug/
packages/
*.suo
*.csproj.user
/.vs
/SdkSamples/DtlClient/obj/Release
/Samples/201-dtl-create-lab-with-seleniumgrid/SeleniumGridSetupService/SeleniumGridSetupService/obj/Release
/Artifacts/windows-selenium/Demo Sample Solution/vsarDTLSeleniumDemo/obj/Release
