<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- ========================================== -->
    <!-- TODO: Enter your subscription information. -->
    <!--[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine")]-->
    <add key="ida:ClientId" value="YOUR_CLIENT_ID" />
    <!--[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine")]-->
    <add key="TenantId" value="YOUR_TENANT_ID" />
    <!-- ========================================== -->
    <add key="SubscriptionId" value="YOUR_SUBSCRIPTION_ID"/>
    <add key="ArmResourceId" value="https://management.core.windows.net/" />
    <add key="Authority" value="https://login.windows.net/{0}"/>
    <add key="RedirectUri" value="https://dtlclient"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>