body {
    font-family: az_ea_font,wf_segoe-ui_normal,"Segoe UI","Segoe WP",Tahoma,Arial,sans-serif !important;
}

.main-nav li .glyphicon {
    margin-right: 10px;
}

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 12px !important;
    border-radius:0;
    border-width: 0 !important;
    margin-right: 5px;
    margin-bottom: 5px !important;
    margin-right: 5px;   
}

.table > tbody + tbody {
    border-top: 1px solid #ddd;
}

.table-hover > tbody > tr.active > td {
    background-color: #C0EFFC !important;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-top: 1px solid #00bcf2 !important;
    border-bottom: 1px solid #00bcf2;
    border-color: #00bcf2 ;
    outline-color: #00bcf2 ; 
  
}

.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover >td,
.table-hover > tbody > tr:hover,
.table-hover > tbody > tr.active:hover > th {
    background-color: #E6F8FE;
    border-width: 1px;
    border-style: solid;
    box-sizing: border-box;
    border-top: 1px solid #00bcf2;
    border-bottom: 1px solid #00bcf2;
    
    outline-color: #00bcf2 ; 
}

.table tbody tr td {
    padding: 10px 1px 1px 10px;
    height: 33px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    color: black;
   
}



.fxs-theme-blue {
    background-color: #2e80ab;
}

.textsmall {
    font-size: 12px !important;
}

.textmedium {
    font-size: 15px !important;
}

.textlarge {
    font-size: 18px !important;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
        overflow: auto;   
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
        
    }
    .main-nav .navbar ul {
        float: none; 
    }
    .main-nav .navbar li {
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
