on:
  schedule:
    - cron: '0 5 * * * '
  repository_dispatch:
    types: run

name: Cleanup

jobs:

  cleanup:
    runs-on: windows-latest
    steps:
    
    - uses: actions/checkout@v2

    - name: Login via Az module
      uses: azure/login@v1
      with:
        creds: ${{secrets.AZURE_CREDENTIALS}}
        enable-AzPSSession: true

    - name: Run Azure PowerShell script
      uses: azure/powershell@v1
      with:
        azPSVersion: 'latest'
        inlineScript: |
          Install-Module -Name Pester -Force -AllowClobber -RequiredVersion 4.10.1
          Invoke-Pester ./samples/ClassroomLabs/Modules/Library/Tests/Cleanup.ps1 